html {
  background-color: #96a5a2;
}

body {
  background-color: #9fead7;
  max-width: 800px;
  border-style: solid;
  margin: auto;
}

img {
  width: 120px;
  height: 120px;
  padding-left: 50px;
}

h1 {
  margin-left: 10px;
}

h2 {
  margin-left: 10px;
}

p {
  margin-left: 12px;
}

footer {
  color: #9fead7;
  width: 200px;
}

footer:hover {
  color: black;
}
